.kanbanboard {
  text-align: center;
}

.kanbanboard__header {
  position: absoulute;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(3, 131, 135);
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
}
